@model IEnumerable<midterm_project.Models.Dragons>

@{
    ViewData["Title"] = "Dragons Menu";
}

<div class="text-center">
    <h1 class="display-4">Adoption List</h1>
    @foreach (var dragon in Model)
    {
        <h2>@dragon.dragonName - $@dragon.dragonDetails</h2>
        <p>@dragon.dragonDescription</p>
        <a class="btn btn-sm btn-secondary mb-3"
            asp-controller="Dragons" asp-action="Detail" asp-route-id="@dragon.DragonId" >
            View / Edit Dragon
        </a>
        <a class="btn btn-sm btn-danger mb-3 ml-3"
            asp-controller="Dragons" asp-action="Delete" asp-route-id="@dragon.DragonId">
            Delete Dragon
        </a>
    }

    <div>
        <a class="btn btn-primary mt-3 clearfix" asp-controller="Dragons" asp-action="New">Create New</a>
    </div>
</div>